@import url("./vendor/reset.css");
@import url("./vendor/fonts.css");

.root {
  margin: 0 auto;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: var(--dark-text);
  background: #F4F8FF;

  --blue: #2A5199;
  --blue-clear: rgba(42, 81, 153, 0.8);
  --light-blue: #F7FAFF;
  --light-gray: #FEFEFE;

  
  --gray-text: #656565;
  --white-text: #ffffff;
  --light-gray-text: #EAEEF5;
  --dark-text: #000A1D;
}
.content {
  width: 1520px;
  margin: 0 auto;
}
/* Header */

.header {
  width: 1520px;
  margin: 32px auto;
  height: 45px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link {
  text-decoration: none;
  margin: 0 60px 0 0;
  font-size: 20px;
  line-height: 23px;
  color: var(--dark-text);
}
.header__link:last-child {
  margin: 0;
}

/* Overlay */

.overlay {
  position: relative;
  margin-bottom: 64px;
}
.overlay__img {
  width: 100%;
  height: 810px;
}

.overlay__rectange {
  position: absolute;
  z-index: 2;
  top: 73px;
  right: 0;
  padding: 45px 60px;
  max-width: 570px;
  background-color: var(--blue-clear);
  border-radius: 5px 0 0 5px;

  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: var(--white-text);
  text-transform: uppercase;
  text-align: center;
}
.overlay__search {
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 120px;

  width: 1190px;
  height: 66px;
  margin: -33px auto 0 auto;
}
.overlay__input {
  border: 0.5px var(--gray-text) solid;
  border-radius: 30px;
  color: var(--gray-text);
  font-size: 18px;
  background-color: var(--light-blue);

  width: 970px;
  height: 100%;
  padding: 22px 30px;
}
.overlay__search-btn {
  width: 100px;
  height: 100%;
  border-radius: 30px;
  background-color: var(--blue);
  padding-top: 4px;
}

/* About */

.about {
  width: 100%;
  padding: 40px 0 80px 0; 
  display: flex;
  flex-direction: row;
  gap: 55px;
}
.about__container {
  width: 767px;
}
.about__text {
  width: 100%;
  border-radius: 5px;
  padding: 40px 30px 56px 30px;
  margin-bottom: 30px;
  background-color: var(--light-gray);
}
.about__btn {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--light-gray-text);
  background-color: var(--blue);
  padding: 20px 40px;
  border-radius: 100px;
  float: right;
}
.about__img {
  width: 700px;
  height: 466px;
}

/* Advantages */

.advantages {
  width: 100%;
  margin-bottom: 80px;
}
.advantages__container {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(2, 270px);
  gap: 8px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--light-gray);
}
.advantages__item-img {
  max-width: 100px;
  max-height: 100px;
}
.advantages__item-text {
  text-align: center;
  max-width: 248px;
}

/* Conditions */

.conditions {
  width: 100%;
  margin-bottom: 80px;
}
.conditions__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 610px);
  gap: 80px;
  padding: 40px 120px 50px 100px;
  background-color: var(--light-gray);
  border-radius: 5px;
}
.conditions__subtitle {
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.conditions__list {
  position: relative;
  list-style: none;
  padding-left: 80px;
}
.conditions__item {
  margin-bottom: 35px;
}
.conditions__item:last-child {
  margin: 0;
}
.conditions__item-number {
  width: 45px;
  height: 45px;
  color: var(--blue);
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  padding-top: 6px;
  font-weight: 900;
  position: absolute;
  left: -75px;
  top: 0;
  border: var(--blue) 3px solid;
  border-radius: 50%;
}

/* Manufacturers */

.manufacturers {
  width: 100%;
  margin-bottom: 115px;
}
.manufacturers__container {
  height: 250px;
  background-color: var(--light-gray);
  padding: 0 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

/* Footer */

.footer {
  width: 100%;
  height: 290px;
  padding: 65px calc((100% - 1520px) / 2 + 100px) 65px calc((100% - 1520px) / 2);
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.footer__container:first-child {
  align-items: center;
}
.footer__logo {
  width: 263px;
  height: 67px;
  margin-bottom: 22px;
}
.footer__logo-text {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 24px;
  line-height: 28px;
}
.footer__list {
  list-style: none;
}
.footer__description {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
}
.footer__description_small {
  margin: 0;
}

/* --- */

.title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  padding: 30px 0 50px 0;
}
.text {
  position: relative;
  font-size: 18px;
  line-height: 30px;
}